/* Import all component CSS files  */
@import url("./heroSection.css");
@import url("./navbar.css");
@import url("./ctaSection.css");
@import url("./footer.css");
@import url("./howItWorksSection.css");
@import url("./pricingSection.css");
@import url("./useCasesSection.css");
@import url("./privacySection.css");
@import url("./videoSection.css");
@import url("./staggerText.css");
@import url("./buttons.css");
@import url("./scrollProgress.css");
@import url("./pages.css");
@import url("./notFound.css");

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Buttons Reset */
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

/* Containers */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .container {
    padding: 0 var(--space-10);
  }
}
